.contact {
    position: absolute;
    right: 40px;
    /* text-align: right; */
    padding: 10px;
  color: #fff;
    opacity: 80%;
    border-radius: 10px;
    width: 350px;
}

.row{
    /* background: black; */
    opacity: 80%;
    border-radius: 10px;
    /* align-content: center; */
    margin: 30px;
    padding: 60px;
    color: #717171;
    line-height: 25px;
    }

    .fab {
    margin-top: 30px;

  
       
    }
     